.container {
  display: flex;
  flex-wrap: wrap;
  padding: 36px;
  justify-content: center;
}

.titleResults {
  display: flex;
  font-weight: 700;
  font-size: 5.5em;
  line-height: 94px;
  color: white;
  text-align: center;
  align-self: center;
  padding-right: 70px;
}

.backButton {
  width: 116px;
  height: 40px;
  background-color: #ff5a5f;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  position: absolute;
  right: 30px;
  top: 16px;
  cursor: pointer;
}

.backButton:hover {
  background-color: #ed555a;
}
